<header>
    <nav id="nav" class="header">
        <p class='nav alignLeft' id="alignLeft"> MyFace </p>
        <a class="nav alignMiddle" id="alignMiddle" href="/posts">Home</a>
        <a class="nav alignMiddle" id="alignMiddle" href="/posts">Posts</a>
        <a class="nav alignMiddle" id="alignMiddle" href="/users">Users</a>
        <a class="nav alignRight" id="alignRight" href="/posts/create">+ New Post</a>
           
    </nav>

    <div class="burgerMenuContainer">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

</header>