/* Add your styles here. */
@import "burger\ menu.css";


/* header {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 60%;
} */

.alignLeft {
    float: left;
    color: white;
    margin-top: 5px;
    margin: 0px;
    margin-left: 10px;    
    font-size: 22;
    font-weight: lighter;

}

.alignMiddle {
    float: middle;
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 22;
    font-weight: lighter;
}

.alignRight {
    float: right;
    color:white;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 22;
    font-weight: lighter;
}

nav.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 40px;
    background-color: #151820;
    display: none;
    text-align: center;
    font-family: Segoe UI;
}

nav.displayHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 30px;
    background-color: #151820;
    display: block;
}

.coverImage {
    width: 100%;

}

#randomColorButton {
    margin-top: 60px;
}

.imageAndBanner {
    position: absolute;
    top: 140px;
    left: 30px;
}

.profileBanner {
    background-color:#252a3880;
    position: absolute;
    top: 0px;
    left: 120px;
    z-index: 0;
}

.userPosts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */
    overflow: auto;
    height: 400px;
}

.userLikes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */
    overflow: auto;
    height: 400px;
}

.userDislikes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */
    overflow: auto;
    height: 400px;
}

h1 {
    color: white;
    font-family: Segoe UI;
    text-align: center;
    margin: 0;
    font-weight: normal;
}

body {
    background-color: #252A38;
    margin: 0;
    padding-top: 35px;
}

h2 {
    color:white;
    font-family: Segoe UI;
    font-weight: normal;
}

ol {
    margin-top: 30px;
    list-style-type: none;
    padding-inline-start: 0px;
    display: inline-grid;
    width: 100%;
}

li {
    background-color: #151820;
    font-family: Segoe UI;
    color:white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 500px;
    position: relative;
}

.like-button {
    position: absolute;
    left: 50px;
    font-family: Segoe UI;
    color: white;
    background-color: green;
    bottom: 10px;
}

.dislike-button {
    position: absolute;
    right: 50px;
    font-family: Segoe UI;
    color: white;
    background-color: red;
    bottom: 10px;
}

.like-button:hover {
    background-color: palegreen;
}

.dislike-button:hover {
    background-color: pink;
}

.like-button:focus {
    background-color: yellow;
}

.dislike-button:focus {
    background-color: yellow;
}

img {
    width: 100%;
    padding: 0;
}

p {
    background-color: #151820;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

.reaction {
    display: inline-block;
}

.profileImage {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    width: 135px;
    height: 135;
    border: 3px solid white;
    z-index: 2;
}

@media (min-width:700px) {
    ol {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}

@media (min-width:1250px) {
    ol {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
}

@media (min-width:600px) {
    nav.header {
        display: block;
    }
    .burgerMenuContainer {
        display: none;
    }
}

@media (max-width:599px) {
    nav.displayHeader {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 60%;
        font-family: 'Segoe UI';
        text-align: middle;
    }
    .nav {
        margin-left:20%;
        margin-right: 70%;
        margin-top: 30px;
    }
    .nav.alignLeft {
        margin-bottom: 30%;
    }

    .nav.alignRight {
        margin-right: 60%;
    }

}
